doctype html
html(lang="en")
	head

		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="css/font-awesome-4.1.0.min.css">

		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" title="cardsize" href="css/bigcards.css" type="text/css" media="all" />

		<!-- FONTS -->
		<link href='css/rock-salt.css' rel='stylesheet' type='text/css'>
		<link href='css/covered-by-your-grace.css' rel='stylesheet' type='text/css'>

		<!-- SCRIPTS -->

		<!-- jQuery -->
		<script src="lib/jquery-1.11.0.min.js"></script>
		<script src="lib/jquery-ui/development-bundle/ui/jquery-ui-1.11.1.js"></script>
		
		<!-- External Scripts -->
		<script src="lib/jquery.ui.touch-punch.min.js"></script>
		<script src="lib/jquery.jeditable.js"></script>
		<script src="lib/jquery.blockUI.js"></script>
		<script src="lib/marked.min.js"></script>
		<script src="lib/moment-with-locales.min.js"></script>

		<!-- Socket.IO -->
		<script src="socket.io/socket.io.js"></script>

		<!-- ** My Script ** -->
		<script src="script.js"></script>

		title= locals.pageTitle

	body
		block body
